.cards-list {
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.ordenar-nombre {
  border: none;
  color: white;
  position: absolute;
  top: 320px;
  right: 625px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ordenar-fecha {
  border: none;
  color: white;
  position: absolute;
  top: 320px;
  left: 600px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 768px) {
  .cards-list {
    width: 85vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }

  .cards-list {
    column-count: 1;
  }

  .cards-list pre {
    display: block;
  }

  .ordenar-nombre {
    top: 225px;
    right: 500px;
  }

  .ordenar-fecha {
    top: 225px;
    left: 500px;
  }
}
